/*******************************************************************************
 * simple.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/larche\/sites\/all\/themes\/larche\/sass\/layouts\/larche\/larche\.layout\.scss}line{font-family:\000038}}
body {
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/larche\/sites\/all\/themes\/larche\/sass\/layouts\/larche\/larche\.layout\.scss}line{font-family:\0000329}}
body {
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/larche\/sites\/all\/themes\/larche\/sass\/layouts\/larche\/larche\.layout\.scss}line{font-family:\0000335}}
.l-header,
.l-main,
.l-footer {
  *zoom: 1;
  max-width: 940px;
  _width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-0\.12\.4\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-header:after,
  .l-main:after,
  .l-footer:after {
    content: "";
    display: table;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/larche\/sites\/all\/themes\/larche\/sass\/layouts\/larche\/larche\.layout\.scss}line{font-family:\0000343}}
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/larche\/sites\/all\/themes\/larche\/sass\/layouts\/larche\/larche\.layout\.scss}line{font-family:\0000349}}
.l-header,
.l-main,
.l-footer {
  max-width: 940px;
  _width: 940px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/larche\/sites\/all\/themes\/larche\/sass\/layouts\/larche\/larche\.layout\.scss}line{font-family:\0000353}}
.l-branding {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -20px;
  display: inline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/larche\/sites\/all\/themes\/larche\/sass\/layouts\/larche\/larche\.layout\.scss}line{font-family:\0000356}}
.l-region--header {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -20px;
  display: inline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/larche\/sites\/all\/themes\/larche\/sass\/layouts\/larche\/larche\.layout\.scss}line{font-family:\0000359}}
.l-region--navigation {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/larche\/sites\/all\/themes\/larche\/sass\/layouts\/larche\/larche\.layout\.scss}line{font-family:\0000366}}
.has-sidebar-first .l-content,
.has-sidebar-second .l-content,
.has-two-sidebars .l-content {
  width: 65.95745%;
  float: left;
  margin-right: 2.12766%;
  display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/larche\/sites\/all\/themes\/larche\/sass\/layouts\/larche\/larche\.layout\.scss}line{font-family:\0000370}}
.has-sidebar-first .l-region--sidebar-first,
.has-sidebar-first .l-region--sidebar-second,
.has-sidebar-second .l-region--sidebar-first,
.has-sidebar-second .l-region--sidebar-second,
.has-two-sidebars .l-region--sidebar-first,
.has-two-sidebars .l-region--sidebar-second {
  width: 31.91489%;
  float: right;
  margin-right: 0;
  #margin-left: -20px;
  display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/larche\/sites\/all\/themes\/larche\/sass\/layouts\/larche\/larche\.layout\.scss}line{font-family:\0000373}}
.has-sidebar-first .l-region--sidebar-second,
.has-sidebar-second .l-region--sidebar-second,
.has-two-sidebars .l-region--sidebar-second {
  clear: right; }
