/*******************************************************************************
 * simple.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/

body {
  box-sizing: border-box;
  font-size: 16px;
}

@import "susy";

// Susy Variables

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 20px;

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 12,
  gutters: 20px/60px,
  column-width: 60px,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

@include layout($susy);

body {
  margin: 0;
}

.l-header-wrapper {
  height: 170px;
  z-index: 20;
  position: fixed;
  width: 100%;
  background: white;
}

.l-header-compensation {
  height: 170px;
  width: 100%;
}

.l-header,
.l-footer {
  @include container;
}

.l-main,
.l-columns,
.l-slider {
  @include container;
  // Define these elements as the grid containers.
  margin-bottom: $vert-spacing-unit;
}

.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: $vert-spacing-unit;
}

.l-branding {
  @include span(12);
}

.l-region--header {
  @include span(12);
}

.l-region--navigation {
  clear: both;
}

.has-sidebar-first,
.has-sidebar-second,
.has-two-sidebars {
  .l-content {
    @include span(8);
  }
  .l-region--sidebar-first,
  .l-region--sidebar-second {
    @include span(last 4);
  }
  .l-region--sidebar-second {
    clear: right;
  }
}

.l-column-first, .l-column-second {
  @include span(6);
}

.l-column-second {
  @include last;
}

#block-views-preface-block-block {
  .flipper-container {
    @include span(3);
  }
}