/*******************************************************************************
 * simple.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/

body {
  box-sizing: border-box;
}

@import "susy";

// Susy Variables

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 20px;

// Define Susy grid variables mobile first.
$total-columns: 12;
$column-width: 60px;
$gutter-width: $horz-spacing-unit;
$grid-padding: 10px;

//$container-style: magic;
$container-width: 960px;

body {
  margin: 0;
}

.l-header-wrapper {
  height: 170px;
  z-index: 20;
  position: fixed;
  width: 100%;
  background: white;
}

.l-header-compensation {
  height: 170px;
  width: 100%;
}

.l-header,
.l-footer {
  @include container;
}
.l-main,
.l-slider {
  @include container; // Define these elements as the grid containers.
  margin-bottom: $vert-spacing-unit;
}

.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: $vert-spacing-unit;
}

  .l-header,
  .l-main,
  .l-columns,
  .l-footer {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
  }

  .l-branding {
    @include span-columns(12 omega, 12); // Span 4 out of 12 columns.
  }
  .l-region--header{
    @include span-columns(12 omega, 12); // Span the last (omega) 8 columns of 12.
  }
  .l-region--navigation {
    clear: both;
  }

  .has-sidebar-first,
  .has-sidebar-second,
  .has-two-sidebars {
    .l-content {
      @include span-columns(8, 12); // Span 8 out of 12 columns.
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span-columns(4 omega, 12); // Span the last (omega) 4 columns of 12.
    }
    .l-region--sidebar-second {
      clear: right;
    }
  }

  .l-column-first, .l-column-second {
    @include span-columns(6, 12);
  }

  .l-column-second {
    @include omega;
  }