.l-footer {
  position: relative;
}

.l-footer-wrapper {
  //height: 350px;
  background-color: #0298ca;
  color: $white;
  font-family: open sans semibold;
  font-size: 0.875em;
  a {
    color: $white;
    text-decoration: none;
    &:hover {
      color: blue;
    }
  }

  #block-block-1, #block-block-2 {
    .block__content {
      position: relative;
      &:before {
        content: "";
        border-left: 1px solid $white;
        height: 100%;
        position: absolute;
        left: -5px;
      }
    }
  }
}

.footer-logo {
  position: absolute;
  top: 1.2em;
  height: 81px;
  width: 89px;
  background: url(../images/logo_footer.png);
  background-size: 89px 81px;
}

