.front {
  .views-row {
    padding: 10px 0;
  }
  .views-field-field-image{
    float: left;
    margin-right: 25px;
    width: 105px;
    height: 105px;
  }
  .l-column-second {
    .view-content {
      a {
      
     }
   }
   .flipper-container {
    background-color: $grey;
    width: 140px;
    height: 140px;
    display: inline-block;
    .title {
      color: $white;
    }
  }
}

.view-footer {
  text-align: center;
  a {
    @extend .larche-icon;
    @extend .larche-icon-read-more-cross;
    color: $blue;
    text-decoration: none;
    font-size: 18px;
    &:before {
     width: 25px;
     height: 25px;
     margin: 5px;
   }
 }
}

}

