.l-branding {
  padding-top: 20px;
  text-align: center;
}

.site-logo img {
  width: 89px;
  height: 81px;
}

.l-header-wrapper {
  @include box-shadow(rgba(17, 17, 17, 0.4) 0px 5px 5px);
  z-index: 100;
  @include transition-property('margin-top');
  @include transition-duration(.25s);
}

.l-region--navigation {
  @include transition-property(all);
  @include transition-duration(.25s);
  background-position: -80px 10px;
  background-repeat: no-repeat;
  &.collapsed {
    background: url(../images/logo_head_small.png) 0 10px no-repeat;
    background-size: 64px 43px;
    padding-left: 80px;
  }
}

#block-system-main-menu {
  a {
    font-weight: bold;
    text-decoration: none;
  }
  > ul {
    margin: 0;
    padding: 0;
    position: relative;
  }
  > ul > li {
    display: inline-block;
    margin: 0 .5em 0;
    &.last a {
      color: white;
      background-color: #fe7e00;
      margin: 10px 0;
      padding: 0 2em;
      line-height: 44px;
      @include border-radius(5px);
    }
    &:hover {
      ul {
        display: block;
      }
    }
    > a {
      font-size: 1em;
      line-height: 64px;
      display: block;
      color: #aeaeae;
      //padding-bottom: 1.2em;
      &.active-trail {
        color: $blue;
      }
    }
    ul {
      @include border-radius(0 0 5px 5px);
      @include box-shadow(rgba(17, 17, 17, 0.4) 0px 3px 4px);
      display: none;
      position: absolute;
      left: -10px;
      width: 960px;
      background-color: rgba($blue, .9);
      padding: 0 0 1em;
      a {
        display: block;
        color: $white;
        border-left: 1px solid $white;
        padding-left: .5em;
        margin-left: 1.6em;
        line-height: 1.2em;
        &.active-trail {
          color: #333;
          border-color: #333;
        }
        .description {
          margin-top: .25em;
          font-size: .875em;
          width: 100%;
          height: 3.6em;
          line-height: 1.2em;
          text-overflow: ellipsis;
          overflow: hidden;
          font-weight: 300;
        }
      }
      li {
        @include span(3 of 12); // Span 4 out of 12 columns.
        padding-right: 10px;
        margin-top: 1.5em;
        margin-bottom: .5em;
        list-style: none;
        &:nth-child(4n) {
          @include last;
        }
        &:nth-child(5n) {
          clear: left;
        }
      }
    }
  }
}

.l-region--navigation.collapsed {
  ul ul {
    margin-left: -80px;
  }
}

//$blue: #0298ca;
//$light-blue: #01acae;
//$orange: #fe7e00;
//$white: white;
//$grey: #c8c8c8;
//$green: #5ea905;
//$purple: #91479e;