.l-content {
  min-height: 300px;
}

.l-columns {
  h2 {
    color: $blue;
    font-size: 1.5em;
    &:after {
      content: "";
      border-bottom: 1px solid #c8c8c8;
      width: 100%;
      position: absolute;
      left: 0;
      top: 40px;
    }
  }
}
.view-content {
  .views-field-body {
    font-size: 14px;
    .field-content p {
      margin: 5px 0;
    }
  }
  .views-field-title {
    font-size: 18px;
  }
  .views-field-created {
    color: $blue;
    font-size: 14px;
    padding-left: 130px;
  }
}


//Same layout for literature and stories and filaretti
.view-stories, .view-fioretti, .view-literature {
  article {

    .links--inline a {
      color: $blue;
      text-decoration: none;
    }
    .node__content {
      .field--name-field-image {
      }
      .field--name-body {

      }
    } 
  }
}

.articles-view-list {
  .views-row {
   .image-place {
   }
   .bubble-content {
    background-color: $blue;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 40px;
    h2 {
      color: $white;
      margin: 0;
    }
    .field-author {
      color: white;
      font-style: italic;
      font-size: 14px;
    }
    .field-body {
      font-size: 14px;
    }
    a {
      text-decoration: none;
      color: white;
      float: right;
      font-size: 14px;
    }
  } 
}
}