@font-face {
  font-family: 'larche-icon-font';
  src: url("../fonts/larche/larche-icon-font.eot?5u6y1m");
  src: url("../fonts/larche/larche-icon-font.eot?#iefix5u6y1m") format("embedded-opentype"), url("../fonts/larche/larche-icon-font.woff?5u6y1m") format("woff"), url("../fonts/larche/larche-icon-font.ttf?5u6y1m") format("truetype"), url("../fonts/larche/larche-icon-font.svg?5u6y1m#larche-icon-font") format("svg");
  font-weight: normal;
  font-style: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/base\/_typography\.scss}line{font-family:\0000312}}
.larche-icon, [class^="larche-icon-"], [class*=" larche-icon-"], #block-views-preface-block-block .flipper-container .front:before {
  font-family: 'larche-icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/base\/_typography\.scss}line{font-family:\0000330}}
.larche-icon-assistant-0:before {
  content: "\e609"; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/base\/_typography\.scss}line{font-family:\0000333}}
.larche-icon-assistant-1:before {
  content: "\e60a"; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/base\/_typography\.scss}line{font-family:\0000336}}
.larche-icon-assistant-2:before {
  content: "\e608"; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/base\/_typography\.scss}line{font-family:\0000339}}
.larche-icon-arrow-left:before {
  content: "\e60b"; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/base\/_typography\.scss}line{font-family:\0000342}}
.larche-icon-arrow-right:before {
  content: "\e60c"; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/base\/_typography\.scss}line{font-family:\0000345}}
.larche-icon-larche-is-0:before, #block-views-preface-block-block .preface-0 .front:before {
  content: "\e601"; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/base\/_typography\.scss}line{font-family:\0000348}}
.larche-icon-larche-is-1:before, #block-views-preface-block-block .preface-1 .front:before {
  content: "\e600"; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/base\/_typography\.scss}line{font-family:\0000351}}
.larche-icon-larche-is-2:before, #block-views-preface-block-block .preface-2 .front:before {
  content: "\e603"; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/base\/_typography\.scss}line{font-family:\0000354}}
.larche-icon-larche-is-3:before, #block-views-preface-block-block .preface-3 .front:before {
  content: "\e607"; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/base\/_typography\.scss}line{font-family:\0000357}}
.larche-icon-logo:before {
  content: "\e602"; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/base\/_typography\.scss}line{font-family:\0000360}}
.larche-icon-head-deco-left:before {
  content: "\e604"; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/base\/_typography\.scss}line{font-family:\0000363}}
.larche-icon-head-deco-right:before {
  content: "\e605"; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/base\/_typography\.scss}line{font-family:\0000366}}
.larche-icon-read-more-cross:before {
  content: "\e606"; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/base\/_typography\.scss}line{font-family:\0000370}}
body {
  font-family: 'Open Sans'; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/base\/_typography\.scss}line{font-family:\0000374}}
.clearfix {
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/Ruby200\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000322}}
  .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/base\/_typography\.scss}line{font-family:\0000378}}
.footer-logo {
  position: relative;
  top: 1.2em;
  height: 81px;
  width: 89px;
  background: url(../images/logo_footer.png);
  background-size: 89px 81px; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_navigation\.scss}line{font-family:\000031}}
.l-branding {
  padding-top: 20px;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_navigation\.scss}line{font-family:\000036}}
.site-logo img {
  width: 89px;
  height: 81px; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_navigation\.scss}line{font-family:\0000311}}
.l-header-wrapper {
  -moz-box-shadow: rgba(17, 17, 17, 0.4) 0px 5px 5px;
  -webkit-box-shadow: rgba(17, 17, 17, 0.4) 0px 5px 5px;
  box-shadow: rgba(17, 17, 17, 0.4) 0px 5px 5px;
  z-index: 100;
  -moz-transition-property: "margin-top";
  -o-transition-property: "margin-top";
  -webkit-transition-property: "margin-top";
  transition-property: "margin-top";
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_navigation\.scss}line{font-family:\0000318}}
.l-region--navigation {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  background-position: -80px 10px;
  background-repeat: no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_navigation\.scss}line{font-family:\0000323}}
  .l-region--navigation.collapsed {
    background: url(../images/logo_head_small.png) 0 10px no-repeat;
    background-size: 64px 43px;
    padding-left: 80px; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_navigation\.scss}line{font-family:\0000331}}
#block-system-main-menu a {
  font-weight: bold;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_navigation\.scss}line{font-family:\0000335}}
#block-system-main-menu > ul {
  margin: 0;
  padding: 0;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_navigation\.scss}line{font-family:\0000340}}
#block-system-main-menu > ul > li {
  display: inline-block;
  font-size: 1.125em;
  margin: .5em .5em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_navigation\.scss}line{font-family:\0000344}}
  #block-system-main-menu > ul > li.last a {
    color: white;
    background-color: #fe7e00;
    padding: .5em 2em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_navigation\.scss}line{font-family:\0000351}}
  #block-system-main-menu > ul > li:hover ul {
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_navigation\.scss}line{font-family:\0000355}}
  #block-system-main-menu > ul > li a {
    display: block;
    color: #aeaeae;
    padding-bottom: 1.2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_navigation\.scss}line{font-family:\0000359}}
    #block-system-main-menu > ul > li a.active-trail {
      color: #0298ca; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_navigation\.scss}line{font-family:\0000363}}
  #block-system-main-menu > ul > li ul {
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0;
    border-radius: 0 0 5px 5px;
    -moz-box-shadow: rgba(17, 17, 17, 0.4) 0px 3px 4px;
    -webkit-box-shadow: rgba(17, 17, 17, 0.4) 0px 3px 4px;
    box-shadow: rgba(17, 17, 17, 0.4) 0px 3px 4px;
    display: none;
    position: absolute;
    left: -10px;
    width: 960px;
    background-color: rgba(2, 152, 202, 0.9);
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_navigation\.scss}line{font-family:\0000372}}
    #block-system-main-menu > ul > li ul a {
      color: white;
      border-left: 1px solid white;
      padding-left: .5em;
      margin-left: 1.6em; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_navigation\.scss}line{font-family:\0000377}}
      #block-system-main-menu > ul > li ul a .description {
        margin-top: .25em;
        font-size: .875em;
        font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_navigation\.scss}line{font-family:\0000383}}
    #block-system-main-menu > ul > li ul li {
      width: 23.72881%;
      float: left;
      margin-right: 1.69492%;
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_navigation\.scss}line{font-family:\0000389}}
      #block-system-main-menu > ul > li ul li:nth-child(4n) {
        float: right;
        margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_navigation\.scss}line{font-family:\0000392}}
      #block-system-main-menu > ul > li ul li:nth-child(5n) {
        clear: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_navigation\.scss}line{font-family:\00003101}}
.l-region--navigation.collapsed ul ul {
  margin-left: -80px; }

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\0000314}}
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\0000321}}
#flexslider-1 {
  margin-bottom: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\0000325}}
.l-slider-wrapper {
  background-color: #1BACAD; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\0000329}}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Icon Fonts
*********************************/
/* Font-face Icons */
/* FlexSlider Necessary Styles
*********************************/
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\0000350}}
.flexslider {
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\0000355}}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\0000361}}
.flexslider .slides img {
  width: 100%;
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\0000366}}
.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\0000371}}
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\0000380}}
html[xmlns] .slides {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\0000384}}
* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\0000391}}
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\0000397}}
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  position: relative;
  zoom: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003104}}
.flex-viewport {
  max-height: 2000px;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003109}}
.loading .flex-viewport {
  max-height: 300px; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003113}}
.flexslider .slides {
  zoom: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003117}}
.carousel li {
  margin-right: 5px; }

/* Direction Nav */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003122}}
.flex-direction-nav {
  *height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003126}}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003143}}
.flex-direction-nav .flex-prev {
  left: -50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003147}}
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003152}}
.flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003157}}
.flexslider:hover .flex-next {
  opacity: 0.7;
  right: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003162}}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003166}}
.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003172}}
.flex-direction-nav a:before {
  font-family: "larche-icon-font";
  font-size: 40px;
  display: inline-block;
  content: '\e60b'; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003179}}
.flex-direction-nav a.flex-next:before {
  content: '\e60c'; }

/* Pause/Play */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003184}}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003198}}
.flex-pauseplay a:before {
  font-family: "larche-icon-font";
  font-size: 20px;
  display: inline-block;
  content: '\e60b'; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003205}}
.flex-pauseplay a:hover {
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003209}}
.flex-pauseplay a.flex-play:before {
  content: '\e60c'; }

/* Control Nav */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003214}}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003221}}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003228}}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003246}}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003251}}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003257}}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003263}}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003269}}
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003276}}
.flex-control-thumbs img:hover {
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003280}}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003286}}
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003290}}
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_flexslider\.scss}line{font-family:\00003298}}
.view-front-page-slider .node__title {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\000032}}
#block-views-preface-block-block .flipper {
  position: relative;
  height: 100%;
  width: 100%;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\000039}}
#block-views-preface-block-block .front, #block-views-preface-block-block .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\0000318}}
#block-views-preface-block-block #larche-is {
  color: white;
  font-size: 1.37em; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\0000322}}
#block-views-preface-block-block .flipper-container {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  height: 230px;
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\0000327}}
  #block-views-preface-block-block .flipper-container:hover .flipper {
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\0000330}}
  #block-views-preface-block-block .flipper-container .front {
    z-index: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\0000333}}
  #block-views-preface-block-block .flipper-container:nth-child(4n) {
    float: right;
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\0000337}}
#block-views-preface-block-block .back {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\0000343}}
#block-views-preface-block-block .flipper-container .front {
  color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\0000345}}
  #block-views-preface-block-block .flipper-container .front .title {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\0000348}}
  #block-views-preface-block-block .flipper-container .front:before {
    position: absolute;
    text-align: center;
    font-size: 12em;
    color: white;
    width: 100%;
    height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\0000358}}
#block-views-preface-block-block .flipper-container .back {
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\0000361}}
#block-views-preface-block-block .flipper-container .back-inner {
  padding: 1em;
  color: white;
  font-size: .875em; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\0000365}}
  #block-views-preface-block-block .flipper-container .back-inner p {
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\0000368}}
  #block-views-preface-block-block .flipper-container .back-inner a {
    color: white;
    text-decoration: none;
    position: absolute;
    padding: 1em 2em;
    bottom: 1em;
    border-radius: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\0000380}}
#block-views-preface-block-block .preface-0 .front {
  background-color: #0298ca; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\0000383}}
  #block-views-preface-block-block .preface-0 .front:before {
    top: 35px; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\0000387}}
#block-views-preface-block-block .preface-0 .back {
  background-color: #0285b1; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\0000389}}
  #block-views-preface-block-block .preface-0 .back a {
    background-color: #015f7e; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\0000391}}
    #block-views-preface-block-block .preface-0 .back a:hover {
      background-color: #02abe3; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\0000399}}
#block-views-preface-block-block .preface-1 .front {
  background-color: #5ea905; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\00003102}}
  #block-views-preface-block-block .preface-1 .front:before {
    font-size: 10em;
    top: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\00003107}}
#block-views-preface-block-block .preface-1 .back {
  background-color: #509004; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\00003109}}
  #block-views-preface-block-block .preface-1 .back a {
    background-color: #355f03; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\00003111}}
    #block-views-preface-block-block .preface-1 .back a:hover {
      background-color: #6cc206; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\00003119}}
#block-views-preface-block-block .preface-2 .front {
  background-color: #91479e; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\00003122}}
  #block-views-preface-block-block .preface-2 .front:before {
    top: 35px; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\00003126}}
#block-views-preface-block-block .preface-2 .back {
  background-color: #813f8c; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\00003128}}
  #block-views-preface-block-block .preface-2 .back a {
    background-color: #612f69; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\00003130}}
    #block-views-preface-block-block .preface-2 .back a:hover {
      background-color: #a14fb0; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\00003138}}
#block-views-preface-block-block .preface-3 .front {
  background-color: #fe7e00; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\00003141}}
  #block-views-preface-block-block .preface-3 .front:before {
    top: 35px; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\00003145}}
#block-views-preface-block-block .preface-3 .back {
  background-color: #e57100; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\00003147}}
  #block-views-preface-block-block .preface-3 .back a {
    background-color: #b25800; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_preface-blocks\.scss}line{font-family:\00003149}}
    #block-views-preface-block-block .preface-3 .back a:hover {
      background-color: #ff8b19; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_news\.scss}line{font-family:\000033}}
.page-news .view-id-news.view-display-id-block .views-field-field-image img {
  float: left;
  margin-right: 1.2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_news\.scss}line{font-family:\000037}}
.page-news .view-id-news.view-display-id-block .views-field-title {
  font-size: 1.125em; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_news\.scss}line{font-family:\0000310}}
.page-news .view-id-news.view-display-id-block .views-field-body {
  font-size: .875em; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_news\.scss}line{font-family:\0000313}}
.page-news .view-id-news.view-display-id-block .views-field-created {
  font-size: .875em;
  color: #0298ca; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_news\.scss}line{font-family:\0000317}}
.page-news .view-id-news.view-display-id-block .views-field-view-node {
  font-size: .875em; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_news\.scss}line{font-family:\0000319}}
  .page-news .view-id-news.view-display-id-block .views-field-view-node a {
    color: #0298ca; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_news\.scss}line{font-family:\0000325}}
.page-news h1, .page-news h2, .page-news h3 {
  color: #0298ca; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_news\.scss}line{font-family:\0000331}}
.page-news .view-content img {
  max-width: 155px;
  max-height: 155px;
  display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_news\.scss}line{font-family:\0000337}}
.page-news .views-field-field-image {
  float: left;
  margin-right: 25px;
  width: 155px;
  height: 155px; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_news\.scss}line{font-family:\0000345}}
.page-news .views-field-created, .page-news .views-field-nothing {
  font-style: italic; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_news\.scss}line{font-family:\0000348}}
.page-news .views-field-title {
  font-size: 1.5em;
  color: #0298ca; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_news\.scss}line{font-family:\0000352}}
.page-news .views-row {
  font-family: 'Open Sans light';
  font-size: 14px;
  min-height: 170px; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_footer\.scss}line{font-family:\000031}}
.l-footer-wrapper {
  height: 350px;
  background-color: #0298ca;
  color: white;
  font-family: open sans semibold;
  font-size: 0.875em; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_footer\.scss}line{font-family:\000037}}
  .l-footer-wrapper a {
    color: white;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_footer\.scss}line{font-family:\0000310}}
    .l-footer-wrapper a:hover {
      color: blue; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_footer\.scss}line{font-family:\0000314}}
  .l-footer-wrapper .footer-logo {
    display: inline-block;
    vertical-align: top; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_footer\.scss}line{font-family:\0000318}}
  .l-footer-wrapper .l-region, .l-footer-wrapper .l-region--footer {
    display: inline-block;
    margin-left: 120px; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_footer\.scss}line{font-family:\0000322}}
  .l-footer-wrapper #block-block-1, .l-footer-wrapper #block-block-2 {
    display: inline-block;
    margin-top: 40px;
    margin-left: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_footer\.scss}line{font-family:\0000326}}
    .l-footer-wrapper #block-block-1 .block__content p:before, .l-footer-wrapper #block-block-2 .block__content p:before {
      content: "";
      border-left: 1px solid white;
      height: 70%;
      position: absolute;
      left: -5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_footer\.scss}line{font-family:\0000335}}
#block-block-3 {
  padding-top: 40px;
  padding-left: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_style\.scss}line{font-family:\000032}}
.l-columns h2, .l-columns h3 {
  color: #0298ca;
  font-size: 1.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_style\.scss}line{font-family:\000035}}
  .l-columns h2:after, .l-columns h3:after {
    content: "";
    border-bottom: 1px solid #c8c8c8;
    width: 100%;
    position: absolute;
    left: 0;
    top: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_style\.scss}line{font-family:\0000316}}
.view-content .views-field-body {
  font-size: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_style\.scss}line{font-family:\0000319}}
.view-content .views-field-title {
  font-size: 18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_style\.scss}line{font-family:\0000322}}
.view-content .views-field-created {
  color: #0298ca;
  font-size: 14px; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_front\.scss}line{font-family:\000032}}
.front .views-field-field-image {
  float: left;
  margin-right: 25px;
  width: 105px; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_front\.scss}line{font-family:\000039}}
.front .l-column-second .view-content a {
  width: 132px;
  min-height: 32px;
  background-color: #0298ca;
  border-radius: 3px;
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 14px; }

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_map\.scss}line{font-family:\000031}}
.page-larche-map {
  font-family: open sans light; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_map\.scss}line{font-family:\000033}}
  .page-larche-map .view-larche-map {
    position: relative;
    background: url(../images/map.png) no-repeat;
    background-size: 940px 508px;
    width: 940px;
    height: 508px; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_map\.scss}line{font-family:\0000311}}
  .page-larche-map .view-content div {
    background: url(../images/marker.png) no-repeat;
    background-size: 60px 84px;
    width: 60px;
    height: 84px; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_map\.scss}line{font-family:\0000317}}
  .page-larche-map .view-content ul {
    display: none;
    background-color: white;
    width: 130px;
    position: absolute;
    padding: 10px 15px;
    top: -25px;
    left: 70px;
    -moz-box-shadow: 0px 2px 4px 0px #8c8c8c;
    -webkit-box-shadow: 0px 2px 4px 0px #8c8c8c;
    box-shadow: 0px 2px 4px 0px #8c8c8c; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_map\.scss}line{font-family:\0000325}}
    .page-larche-map .view-content ul:before {
      content: "";
      position: absolute;
      top: 20px;
      left: -14px;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid white; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_map\.scss}line{font-family:\0000335}}
    .page-larche-map .view-content ul li, .page-larche-map .view-content ul a {
      color: #c8c8c8;
      text-decoration: none;
      list-style: none;
      width: 100%;
      font-size: 14px;
      font-family: open sans light; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_map\.scss}line{font-family:\0000343}}
      .page-larche-map .view-content ul li:hover, .page-larche-map .view-content ul a:hover {
        color: #333333; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_map\.scss}line{font-family:\0000348}}
  .page-larche-map .view-content h3 {
    position: absolute;
    bottom: -35px;
    color: white;
    font-size: 14px;
    text-align: center;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_map\.scss}line{font-family:\0000358}}
  .page-larche-map .Africa {
    position: absolute;
    top: 180px;
    left: 400px; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_map\.scss}line{font-family:\0000363}}
    .page-larche-map .Africa:hover ul {
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_map\.scss}line{font-family:\0000366}}
  .page-larche-map .America {
    position: absolute;
    left: 150px;
    top: 120px; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_map\.scss}line{font-family:\0000371}}
    .page-larche-map .America:hover ul {
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_map\.scss}line{font-family:\0000374}}
  .page-larche-map .Europe {
    left: 500px;
    top: 70px;
    position: absolute; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_map\.scss}line{font-family:\0000379}}
    .page-larche-map .Europe:hover ul {
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_map\.scss}line{font-family:\0000382}}
  .page-larche-map .Australia {
    top: 300px;
    left: 750px;
    position: absolute; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_map\.scss}line{font-family:\0000387}}
    .page-larche-map .Australia:hover ul {
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_map\.scss}line{font-family:\0000390}}
  .page-larche-map .Asia {
    position: absolute;
    top: 80px;
    left: 740px; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_map\.scss}line{font-family:\0000395}}
    .page-larche-map .Asia:hover ul {
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_map\.scss}line{font-family:\0000399}}
  .page-larche-map #block-block-4 .block__title {
    color: #0298ca; }
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/OpenServer\/domains\/larche\/sites\/all\/themes\/larche\/sass\/components\/_map\.scss}line{font-family:\00003102}}
  .page-larche-map #block-block-4 .block__content {
    font-size: 14px;
    font-family: Open sans light; }
